* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e8ffff;
}
/* Header style start */
header {
    background-color: #e8ffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 5px 25px 7px 0;
}
header h1 {
   font-family: 'Sacramento', cursive;
    color: #66BFBF;
    padding: 5px 15px 5px 60px;
    margin: 20px 0 0 0;
    font-size: 50px;
}    
header h1 a {
    text-decoration: none;
    color: #66BFBF;
}
header nav {
    margin: 20px 25px;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {
    margin: 20px 8px;
}
header nav ul li a {
    margin: 10px 10px;
    font-size: 22px;
    text-decoration: none;
    color: #66BFBF;  
}
/* Header Style End */
/* Hero Style Start */
.hero {
    position: relative;
}
.hero img {
   width: 200px;
   height: auto;
   padding: 150px 0;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.hero-text {
    position: absolute;
    bottom: 5%;
    right: 10%;
    width: 25%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2vw;
    padding: 5px;
    border-radius: 5px;
    background-color: #66BFBF;
    color: #40514e;
}

/* Hero Style End */

/* about me section */
.about-me {
    background-color: white;
    padding-top: 50px;
}

/* Section style start */
body {
    background-color: #e8ffff;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    width: 100%;
}
.section-title {
    display:flex;
    margin: 20px 20px 0 20px;
    justify-content: flex-end;
    text-align: right;
    color: #40514e;
    font-size: 20px;
    width: 15%;
}
.section-title h2 span {
    display: block;
}
.right-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px 0 0;
    padding: 0 30px;
    border-left: 4px solid #40514e;
    line-height: 1.7;
    font-size: 30px;
    text-align: justify;
    width: 75%;
}

.work {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.work-main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}    
.work-secondary {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        position: relative;
        margin-bottom: 20px;
}
.image-title {
    position: absolute;
    bottom: 5vw;
    left: 0;
    background-color: #66BFBF;
    color: #40514e;
    padding: 1.5vw 3.0vw;
    text-align: left;
    border-radius: 0 1.5vw 1.5vw 0;
}
.image-title h3{
    font-size: 2rem;

    line-height: 1.2;
}
.image-title h4{
    font-size: 1.0vw;
}
.image {
    width: 100%;
    border: 4px solid #66BFBF;    
}
/* Section style end */

/* footer style start*/
.contacts {
    justify-content: space-around;
}
.contact-me {
    display: flex;
}
.contact-me a {
    text-decoration: none;
    color: #40514e;
    font-size: 24px;
    line-height: 1.5;
    padding: 0;
    border-bottom: 3px solid #40514e;
    margin-bottom: 15px;
}
/* footer section end */
/* pseudo (hover) style start */
header nav ul li:hover {
    border-color: #258682;
}
header nav ul li:hover > #hover {
    color: #258682;
}
.work-main a:hover {
    opacity: 0.8;
}
.work-secondary a:hover {
    opacity: 0.8;
}
.contact-me a:hover {
    color: blue;
    border-color: blue;
}
/* pseudo (hover) style end */
/* Media query for smaller desktops screens and smaller */
@media screen and (max-width: 980px) {
    header {
        padding: 0;
    }
   
    header nav{
        font-size: 22px;
        padding-top: 20px;
    }

    .hero-image {
        height: 300px;
        object-fit: cover;
        max-width: 100%; 
    }
    .hero-text {
        right: 5%;
        width: 30%;
        font-size: 1.5vw;
    }
    .section-title {
        font-size: 22px;
    }
    .contact-me a {
        font-size: 18px; 
    }
    .right-section {
        font-size: 14px;
    }
}
/* Media query for tablets and smaller */
@media screen and (max-width: 768px) {
    header h1 {
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 5px 0;
        text-align: center;
    }
    header nav {
        width: 100%;
    }
    header nav ul {
        justify-content: space-evenly;
    }
    .section-title {
        justify-content: center;
        padding-bottom: 5px;
        border-bottom: 3px solid #40514e;
        text-align: center;
        font-size: 20px;
        width: 100%;
    }
    .section-title h2 span {
        display: inline;
    }
    .right-section {
        border: 0;
        width: 100%;
        margin: 15px 0 0 0;
        padding: 0 20px;
        font-size: 14px;
    }
    .work-main, .work-secondary{
        margin-bottom: 10px;
    }
    .image-title h3{
        font-size: 4.0vw;
        line-height: 1.5;
    }
    .image-title h4{
        font-size: 2.5vw;
    }
    .contact-me a {
        font-size: 14px;
        border-bottom: 2px solid #40514e;
    }
}
/* Media query for mobile phones and smaller */
@media screen and  (max-width: 575px) {   
    header h1 {
        padding: 0;
    }
    header h1 a {
        font-size: 24px;
    }
    header nav ul li a {
        font-size: 14px;
    }
    header nav {
        margin: 0;
    }
    header nav ul li {
        margin: 5px 0;
        border-bottom: 2px solid #66BFBF;
    }
    .hero-text {
        right: 0;
        bottom: 1%;
        width: 100%;
        font-size: 3vw;
        border-radius: 0;
    }
    .section-title {
        font-size: 16px;
        border-bottom: 2px solid #40514e;
    }
    .right-section {
        font-size: 12px;
    }
    .image-title {
        width: 100%;
        text-align: center;
        border-radius: 0;
    }
    .image-title h3{
        font-size: 4.0vw;
        line-height: 1.5;
    }
    .image-title h4{
        font-size: 2.5vw;
    }
    .work-secondary {
        width: 100%;
    }
    .contact-me a {
        font-size: 10px;
    }
}
